﻿@charset "utf-8";

noscript{
    display: block;
}

#canvasContainer .closed{
	display: none;
}

#mainscreen {
    display: table;
    margin: 0 auto;
    position: relative;
    border: solid thin black;
}

#sidebox {
    position: absolute;
    top: 0;
    right: 2em;
    border: ridge navy 0.5em;
    border-radius: 1em;
    padding: 0.2em;
	font-size: 11px;
	width: 20em;
}

#sidebox .type:before {
    content: 'Type: ';
}

.position:before {
	content: 'Canvas:'
}

.tile:before{
	content: 'Tile: '
}

hgroup:before {
	font-size: 20px;
	font-weight: bold;
}

.coordinates {
    background-color: azure;
}

.indexes {
    background-color: lightblue;
}

.coordinates:before{
	content: 'Coordinates';	
}

.coordinates > *:before {
    margin-right: 0.5em;
}

.indexes:before{
	content: 'Indexes';
}

#canvasContainer {
    position: relative;
    display: table;
    margin: 0 auto;
    top: 2em;
}

#cursorInfo {
	display: block;
    position: absolute;
    width: 109px;
    border: thin solid black;
    min-height: 48px;
    background: linear-gradient(to bottom, gray, #B7B7B7);
}

#cursorInfo p {
    font-size: 11px;
    margin: 5px 0 0 5px;
}

#unitInfo {
	display: block;
    position: absolute;
    min-width: 120px;
    border: thin solid black;
    min-height: 48px;    
}

#unitInfo.roric {
	background: linear-gradient(to bottom, skyblue, azure);
}

#unitInfo.redblades {
	background: linear-gradient(to bottom, #FF6B6B, #FFEDED);
}

#unitInfo .stats {
    font-size: 0.8em;
    margin: 0 0 0.5em 0.5em;
    clear: both;
}

#unitInfo h1 {
    font-size: 1.2em;
    text-transform: capitalize;
}

.statbar {
    background-color: green;
    text-align: center;
}

.statRow {
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.statbarContainer {
    display: inline-block;
    float: right;
    width: 6em;
    color: white;
}

.crest {
    content: "\a0";
    float: left;
    height: 2em;
    width: 2em;
    margin-right: 0.2em;
    background-image: url('/game/battlefield/resources/atlas.png');
}

#menu{
	width: 120px;
	position: absolute;
}

#menu.active {
    height: 0;
    border: transparent solid thin;
	display: block;
	animation-name: active;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    
    -webkit-animation-name: active;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
}

#menu.inactive{
    height: 100px;
    border: black solid thin;
    animation-name: inactive;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    
    -webkit-animation-name: inactive;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
}
#menu ul {
    list-style: none;
}
#menu ul li{
	position: relative;
}
#menu ul li.active:before {
    background: url("/game/battlefield/resources/pointer.png") no-repeat scroll left top / 23px auto rgba(0, 0, 0, 0);
    content: "\a0";
    height: 50px;
    left: -58px;
    position: absolute;
    top: -4px;
    transform: scaleX(-1);
    width: 55px;
}
#menu .disabled {
    color: gray;
    text-shadow: black 1px -2px;
}
.closed{
	display: none;
}
.warning {
    color: red;
    font-weight: bold;
}
#days {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1em;
    transition: opacity 2s;
}
#days h1 {
    font-size: 1.5em;
}

#days.inactive{
	opacity: 0;
}

@keyframes active{
	from {
	}
	to {
		height: 100px;
    	border-color: black;
	}
}

@-webkit-keyframes active{
	from {
	}
	to {
		height: 100px;
    	border-color: black;
	}
}

@keyframes inactive{
	from{
	}
	to{
		height: 0;
	    border: transparent solid thin;
	}
}

@-webkit-keyframes inactive{
	from{
	}
	to{
		height: 0;
	    border: transparent solid thin;
	}
}